*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

**/.DS_Store

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

**/build
build-*/

*.sublime-workspace

**/.vscode

.history/

.cache/

.vs/

.idea/
/cmake-build-*/

build/
.cache/

.vscode/
.zenflow/


Thumbs.db
.DS_Store

.claude/
