name: CI (Pinned Geode SDK main)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Use pinned Geode SDK and build
        uses: geode-sdk/build-geode-mod@main
        with:
          sdk: v5.0.0-beta.2
          bindings: geode-sdk/bindings
          bindings-ref: main
          target: Win64

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: toastyreplay-geode
          path: build/*.geode