name: Build Geode Mod
on:
  workflow_dispatch:
  push:
    branches:
      - "**"
jobs:
  build:
    name: Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Build the mod
        uses: geode-sdk/build-geode-mod@main
        with:
          combine: true
      - uses: actions/upload-artifact@v4
        with:
          name: Build Output
          path: build/output
